* {
    background-color: lightgray;
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
    margin: 40px 100px;
}

.box1 {
    text-align: center;
}

ul, li, ol {
    background-color: goldenrod;
}

p {
    color: orangered;
    padding: 8px;
    margin: 8px;
}

ul {
    padding: 10px;
}

li {
    padding: 8px;
    margin: 10px;
}