* {
    background-color: lightgray;
}

.wrapper {
    max-width: 800px;
    margin: 40px 100px;
}

.box1 {
    text-align: center;
}

ul, li, ol {
    background-color: goldenrod;
}

p {
    color: orangered;
}